x* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

html {
  --foreground:   #333;     /* text */
  --background:   #fff4ef;  /* pink */
  --primary:      #e1612d;  /* red */
  --secondary:    #ffd13a;  /* yellow */
  --muted:        #fde8e1;  /* mauve */
  --spacing-s:    8px;
  --spacing-m:    24px;
  --spacing-l:    32px;
  --spacing-xl:   48px;
  --sans:         "Franklin Gothic Book", "Source Sans Pro", Helvetica, Arial, sans-serif;
  --serif:        "Lora", Baskerville, Georgia, serif;
  --mono:         "Source Code Pro", Monaco, Courier, monospace;
}

body {
  font-family: var(--serif);
  font-weight: 200;
  margin: 2em;
  background: var(--background);
  color: var(--foreground);
  line-height: 1.75;
  max-width: 900px;
}

h1 {
  display: inline-block;
  font-size: 56px;
  /* TODO scale size */
}

h1,
h2,
h3,
h4 {
  margin-top: var(--spacing-xl);
  color: var(--foreground);
}

h2,
h3,
h4 {
  font-family: var(--sans);
}

p {
  margin-top: var(--spacing-l);
  font-size: 16px;
}

ul.flush {
  list-style-position: inside;
  margin-left: 0;
  padding-left: 0;
}

ul > li,
ol > li {
  margin-bottom: var(--spacing-s);
}

ul.no-bullet {
  list-style-type: none;
}

a:not(.glitch-remix):link,
a:not(.glitch-remix):visited {
  color: var(--foreground);
  text-decoration-color: var(--foreground);
  text-decoration-thickness: .125em;
  text-underline-offset: 3px;
  transition: background 0.2s linear;
}

/* TODO it's silly to call out the fish specifically */
a:not(.glitch-remix):hover {
  background: var(--secondary) !important;
}

.glitch-remix img {
  height: 30px;
  vertical-align: text-bottom;
}

pre,
code {
  font-size: 12px;
  padding: 2px 8px;
  font-family: var(--mono);
  border-radius: 10px;
  color: var(--primary);
  background-color: var(--muted);
}

footer {
  margin: var(--spacing-xl) 0;
  padding-top: var(--spacing-l);
}

img {
  background-color: var(--secondary);
  max-width: 100%;
}

a img {
  background: none !important;
}

figure {
  margin: 0;
}

figcaption,
.meta-text {
  font-size: 12px;
  font-family: var(--mono), monospace;
  color: var(--primary);
  font-weight: 600;
}

.horizontal-button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}

.button {
  font-size: inherit;
  font-family: inherit;
  border: none;
  background: var(--foreground);
  color: var(--background);
  padding: 8px 16px;
  box-shadow: 3px 3px var(--primary);
  cursor: pointer;
  transition: background 0.2s linear;
}

.button:hover {
  background: var(--primary);
  box-shadow: 3px 3px var(--foreground);
}

.button:active {
  box-shadow: none;
}

/* Books */

.center {
  text-align: center;
}

.book-shelf-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: space-around;
}

.book {
  padding-right: 20px;
}

.book img {
  max-width: 200px;
}

.book-list-container {
  font-family: var(--sans);
  font-weight: 100;
  font-size: 14px;
}

.book-list-container td {
  padding-right: 10px;
}

.book-list-container thead th {
  border-bottom: 3px solid #333;
  font-size: 20px;
  text-align: left;
  padding-right: 8px;
}

.book-list-container table {
    counter-reset: rowNumber - 1;
}

.book-list-container table tr {
    counter-increment: rowNumber;
}

.book-list-container td.table-row-number:before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
    text-align: right;
    /* Copied from meta-text */
    font-size: 12px;
    font-family: var(--mono);
    color: var(--primary);
    font-weight: 600;
}
