<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jlord — {{ title }}</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Source+Code+Pro:600|Source+Sans+Pro:400,700,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.glitch.com/18e1b6c5-abb9-4483-a1ce-3c97822dcbc0%2Fsmile-favicon.png?v=1577657596580" type="image/png">
  </head>
  <body>
    <header>
      <p class="meta-text">{{ subtitle }}</p>
      <h1>{{ title }}</h1>
    </header>

    {{ content | safe }}

    <h2 id="book-shelf">2020 Currently Reading Shelf</h2>
    <div class="book-shelf-container">
      {%- for book in current_books -%}
      <div class="book">
        <a href="{{ book.GoodreadsURL }}">
          <img src="{{ book.CoverURL }}">
        </a>
        <!-- <h3>{{ book.Title }}</h3> -->
      </div>
      {%- endfor -%}
    </div>

    <h2 id="book-list">2020 Currently Reading List</h2>
    <div class="book-list-container">
      <table>
        <thead>
          <tr>
            <th>No.</th><th>Title</th><th>Author</th><th>Read</th><th>Category</th><th>Pages</th>
          </tr>
        </thead>
        <tbody>
          {%- for book in current_books -%}
          <tr>
            <td class="table-row-number"></td><td><a href="{{ book.GoodreadsURL }}">{{ book.Title }}</a></td><td>{{ book.Author }}</td><td>{{ book.Read }}</td><td>{{ book.Category }} <span class="meta-text">{{ book.SubCategory }}</span></td><td class="center">{{ book.Pages }}</td>
          </tr>
          {%- endfor -%}
        </tbody>
      </table>
    </div>

    <h2 id="how-to-books">How this Page is Made</h2>
    <p>I use <a href="https://www.goodreads.com/user/show/768192-jlord" target="_blank">Goodreads</a> to keep track of books I've read but their API is not stellar and they can't provide links to cover images which is a must-have for a shelf view. Since I don't read at breakneck speeds I just made a <a href="https://docs.google.com/spreadsheets/d/1tJtKdvCWCLLv9mZwTFjSXM6t2mMfPHgkhtWJDBdpjYc/edit?usp=sharing" target="_blank">spreadsheet</a> myself with information from my Goodreads data and links to cover art.</p>

    <p>That spreadsheet is turned into JSON via my <a href="https://spreadsheet.glitch.me" target="_blank">tool</a> that does the spreadsheet-to-JSON conversion for you. This site is built with <a href="https://www.11ty.dev" target="_blank">Eleventy</a> so there is a layout template for this Books page you are viewing, it uses the data in the JSON file. You can go directly to that template and <a href="https://glitch.com/edit/#!/veil-look?path=src/_includes/layouts/books.njk" target="_blank">see the code on Glitch</a>.</p>

    <h3>Here are the steps to updating this page after finishing a book:</h3>

    <ol>
      <li>Add a row to <a href="https://docs.google.com/spreadsheets/d/1pNIsIQr1g8eLaZzXttHr1vW2xkCN7A3aodU3TeIRkys/edit?usp=sharing" target="_blank">my spreadsheet</a> for the finished book.</li>
      <li>Generate JSON for the updated spreadsheet with <code>https://spreadsheet.glitch.me/?key=SPREADSHEETKEYHERE</code>.</li>
      <li>Copy and paste the updated JSON into the file <code>current_books.json</code>, <a href="https://glitch.com/edit/#!/veil-look?path=src/_data/current_books.json" target="_blank">see the file in Glitch</a>.</li>
      <li>Use Git to commit the changes and push them to Glitch, or do it directly in Glitch with automatic deploys.</li>
    </ol>

    There's a duplicate copy of <a href="https://github.com/jlord/veil-look" target="_blank">this site's code on GitHub</a>.

    <footer>
      <small>
        <a href="/">Home</a> | <em>Made by <a href="/about">jlord</a> on <a href="https://glitch.com/edit/#!/veil-look">Glitch</a></em>.
        <em>See my <a href="/webring/">webring of friends's sites</a>.</em>
      </small>
    </footer>
  </body>
</html>
