<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jlord — It's a weblog!</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Source+Code+Pro:600|Source+Sans+Pro:700,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://cdn.glitch.com/18e1b6c5-abb9-4483-a1ce-3c97822dcbc0%2Finitials-favicon.png?v=1577657596621" type="image/png">
  <body>
    <header>
      <p class="meta-text">jlord's weblog</p>
      <h1>{{ title }}</h1>
    </header>

    <h2>Post <span class="meta-text">DATE</span></h2>
    <ul class="flush">
      {%- for post in collections.posts -%}
        <li><a href="{{ post.url }}">{{ post.data.title }}</a> <span class="meta-text">{{ post.date.toLocaleDateString() }}</span></li>
      {%- endfor -%}
    </ul>
    <p>
      → <a href="/feed.xml">RSS</a> feed.
    </p>

    <footer>
      <small>
        <em>Made by <a href="/about">jlord</a> on <a href="https://glitch.com/edit/#!/veil-look">Glitch</a></em>.
        <em>See my <a href="/webring/">webring of friends's sites</a>.</em>
      </small>
    </footer>
  </body>
</html>
